@use '../base/breakpoints' as *;
@use '../base/variables' as *;
@use '../base/utils' as *;
@use '../components/buttons' as *;

.about-intro-section {
	@include breakpoints();
	background: $dark;
	border-radius: 30px;
	padding: 5em 0 0;
	overflow-x: hidden;
	// margin-bottom: 4em;
	position: relative;

	@media screen and (min-width: 62em) {
		margin-bottom: 7em;
		padding: 5em 0 7em;

		&::after {
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			inset: 0;
			border-radius: 30px;
			box-shadow: -20px -20px 40px rgba(0, 0, 0, 0.534) inset;
		}
	}

	.container {
		@include width-mixin();
		display: grid;
		gap: 5em;
		margin-bottom: 5em;

		.text-area {
			// max-width: 600px;
			position: relative;
			z-index: 1;

			width: 100%;

			.eyebrow {
				text-transform: uppercase;
				color: $accent-color;
				margin-bottom: 0.7em;
				display: none;
			}

			.heading {
				@include font-component();
				color: $light;
				// font-size: clamp(2rem, 3.5vw, 4rem);
				// // line-height: 1.3;
				margin-bottom: 0.5em;

				@media screen and (max-width: 43em) {
					// background: teal;

					font-size: 2rem;
					font-weight: 700;
				}
			}

			.text {
				@include text-mixin();
				color: $light;
				font-size: $font-size;
				line-height: $lineheight;
			}

			.highlights {
				display: grid;
				grid-template-columns: repeat(1, 1fr);
				column-gap: 1em;
				row-gap: 0.5em;
				margin-bottom: 2em;
				width: fit-content;
				// margin: 0 auto 2em;

				.wrap {
					display: flex;
					gap: 1em;
					align-items: center;
					// justify-content: center;
					background: $grey;
					padding: 0.5em;
					border-radius: 10px;

					.icon {
						@include icon-wrap-mixin();
						border: groove $light 3px;

						img {
							width: 14px;
						}
					}

					p {
						color: $light;
					}
				}

				@media screen and (min-width: 43em) {
					grid-template-columns: repeat(2, 1fr);
				}

				@media screen and (min-width: 62em) {
					grid-template-columns: repeat(2, 1fr);

					.wrap {
						gap: 0.5em;
						padding: 1em;
					}
				}
			}

			.buttons-wrap {
				display: flex;
				align-items: center;
				gap: 1.5em;

				.btn {
					@include btn-mixin();
				}

				.about-link {
					color: $accent-color;

					display: flex;
					align-items: center;

					i {
						font-size: 1.2rem;
						display: inline-block;
						height: 24px;
					}
				}
			}
		}

		.about-section-img {
			width: 100%;
			height: 400px;
			// position: absolute;
			// bottom: 0;

			// &::before {
			// 	content: '';
			// 	position: absolute;
			// 	height: 200px;
			// 	width: 200px;
			// 	background: #00ffe0;
			// 	bottom: -5%;
			// 	left: -10%;
			// }

			// &::after {
			// 	content: '';
			// 	position: absolute;
			// 	height: 200px;
			// 	width: 200px;
			// 	background: $color;
			// 	top: -5%;
			// 	right: -10%;
			// }

			.about-section-bg {
				width: 100%;
				z-index: 1;
				height: 100%;
				object-fit: cover;
			}
		}

		@media screen and (min-width: 62em) {
			display: flex;
			width: 85%;
			justify-content: space-between;
			gap: 0em;

			.text-area {
				width: 45%;
			}

			.about-section-img {
				position: absolute;
				width: 35%;
				height: 450px;
				right: 0;
				bottom: 0;
				overflow: hidden;

				.about-section-bg {
					border-top-left-radius: 30px;
				}
			}
		}
	}

	.slogan-wrap {
		background: $dark;
		position: relative;
		min-height: 200px;
		display: flex;
		justify-content: center;
		align-items: center;
		display: none;

		.heading {
			color: $light;
			text-align: center;
			font-size: clamp(2vw, 3rem, 6vw);

			@media screen and (min-width: 62em) {
				padding: 0 6em;
			}
		}
	}
}
