@import '../resets';

.feedback-form-modal {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.521);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px); /* For Safari */
	height: 100%;
	width: 100%;
	z-index: 3;
	transform: translateY(100%);
	transition: all 0.8s ease;
	overflow-y: scroll;

	.container {
		opacity: 0;
		transition: all 1s ease;
		display: flex;
		align-items: center;
		height: 100%;
		justify-content: center;
		padding-top: 8em;
		padding-bottom: 8em;
		width: 90%;
		margin: 0 auto;

		.form-wrap {
			background: $light;
			border-radius: 20px;
			padding: 40px 20px;
			box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
			position: relative;

			.heading-wrap {
				margin-bottom: 20px;
				max-width: 400px;
				margin-bottom: 1.5em;

				.heading {
					font-size: 1.9rem;
					color: $dark;
					text-transform: capitalize;
					line-height: 1;
					margin-bottom: 0.3em;
				}
			}

			.feedback-form {
				display: flex;
				flex-direction: column;

				.wrap {
					margin-bottom: 10px;

					input,
					textarea {
						width: 100%;
						padding: 10px;
						border: 1px solid #ccc;
						border-radius: 10px;
						color: #333232;
						font-family: 'Poppins', sans-serif;
						font-weight: 400;
						font-size: 0.9rem;
					}

					select {
						width: 100%;
						padding: 10px;
						background: $light;
						color: $dark;
						border-radius: 10px;
						border: 1px solid #ccc;
						color: #333232;
						font-family: 'Poppins', sans-serif;
						font-weight: 400;
						font-size: 0.9rem;
					}
				}

				.consent-wrap {
					display: flex;
					padding: 0 1em;
					margin: 1em 0;
					gap: 0.5em;
					align-items: center;

					input {
						padding: 0;
						width: unset;
						background: teal;
						cursor: pointer;
					}

					label {
						font-size: 0.8rem;
						color: $dark;
						cursor: pointer;
					}
				}

				.btn-wrap {
					button {
						margin-top: 10px;
						padding: 0.9em;
						background-color: $accent-color;
						color: #fff;
						border: none;
						border-radius: 10px;
						font-size: 0.9rem;
						font-weight: 500;
						cursor: pointer;

						&:hover {
							background-color: darken($accent-color, 10%);
						}
					}
				}

				.close-btn {
					position: absolute;
					top: 5%;
					right: -4%;
					background: red;
					height: 40px;
					width: fit-content;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 0.5em;
					cursor: pointer;
					border-radius: 20px;
					padding: 0 0.9em;

					i {
						color: $light;
					}

					span {
						color: $light;
						font-family: 'Poppins', sans-serif;
						font-weight: 500;

						font-size: 0.9rem;
					}
				}
			}
		}
	}

	.opacity {
		opacity: 1;
	}
}

.display-feedback-modal {
	transform: translateY(0);
}
