@import '../resets';

.main-section {
	height: 80vh;
	background: $dark;
	width: 90%;
	margin: 0 auto;
	border-radius: 10px;
}

/* Define the keyframes for the continuous scroll */
@keyframes continuousScroll {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-50%);
	}
}

.showcase-slider-section {
	overflow: hidden;
	width: 100%;
	margin-top: 1em;
	margin-bottom: 7em;

	.showcase-track {
		display: flex;
		gap: 1em;
		width: max-content;
		animation: continuousScroll 30s infinite linear;

		.showcase-section {
			display: flex;
			flex-shrink: 0;
			gap: 1em;
			// padding: 0 1em;
			margin-bottom: 0;
			margin-top: 0;

			.showcase-item {
				height: 200px;
				background: teal;
				width: 200px;
				border-radius: 8px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 8px;
				}
			}
		}
	}
}
