@use '../base/breakpoints' as *;
@use '../base/fonts' as *;
@use '../base/variables' as *;
@use '../components/buttons' as *;
@use '../base/utils' as *;

.main-section {
	height: 90vh;
	background: $bg-color;
	@include breakpoints();
	border-radius: 10px;
	// margin-bottom: 5em;
	position: relative;

	.container {
		display: flex;
		gap: 3em;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		width: 90%;
		margin: 0 auto;
		position: relative;

		.masthead {
			width: 50%;

			.heading {
				color: #393930;
				@include font-component();
				margin-bottom: 1em;
				padding-right: 1em;
			}

			.btn-wrap {
				.btn {
					@include btn-mixin();
					background: $dark;
					border: none;
				}
			}
		}

		.hero-img-container {
			height: 450px;

			width: 500px;
			position: absolute;
			right: 0;
			bottom: 5%;
			border-radius: 30px;

			.hero-wrap {
				height: 100%;

				.hero-img {
					position: absolute;
					height: 100%;
					opacity: 0;
					visibility: hidden;
					transition: opacity 2s ease;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						border-radius: 30px;
					}
				}

				.show-img {
					opacity: 1;
					visibility: visible;
				}
			}

			.navigation-wrap {
				position: absolute;
				left: 50%;
				bottom: 3%;
				transform: translateX(-50%);
				display: flex;
				gap: 0.5em;

				.nav-btn {
					height: 10px;
					width: 10px;
					background: $grey;
					border: none;
					border-radius: 50%;
					transition: all 500ms ease-in-out;
				}
			}
		}

		.pop-menu-btn {
			position: absolute;
			right: 2%;
			top: 5%;
			display: flex;
			align-items: center;
			cursor: pointer;
			gap: 0.2em;

			span {
				@include outfit-fonts();
				font-weight: 600;
				color: $dark;
			}

			.menu-btn {
				height: 30px;
				width: 30px;
				background: red;
				border-radius: 50%;
				transition: transform 500ms ease-in-out;
				border: none;
				animation: pulsate 1s infinite linear;
				cursor: pointer;
			}

			@media screen and (max-width: 62em) {
				span {
					color: $light;
				}
			}
		}
	}

	@media screen and (max-width: 62em) {
		// background: teal;
		position: relative;
		overflow: hidden;

		.container {
			position: unset;

			.masthead {
				margin: 0 auto;
				width: 100%;
				text-align: center;
				grid-area: masthead;
				position: relative;
				z-index: 1;

				.heading {
					padding: unset;
					font-size: 2rem;
					font-weight: 700;
					color: $light;
				}
			}

			.hero-img-container {
				left: 0 !important;
				top: 0;
				height: 100%;
				width: 100%;

				&::after {
					content: '';
					position: absolute;
					inset: 0;
					background: rgba(0, 0, 0, 0.6);
				}

				.navigation-wrap {
					z-index: 1;
				}
			}
		}
	}
}

.indicator {
	background: $bg-color !important;
	height: 10px;
	width: 10px;
	border-radius: 50%;
}

/* Define the keyframes for the continuous scroll */
@keyframes continuousScroll {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-50%);
	}
}

@keyframes pulsate {
	0% {
		transform: scale(0, 0);
	}

	100% {
		transform: scale(1, 1);
	}

	0% {
		transform: scale(0, 0);
	}
}
