@import '../resets';

.indi-flag-section {
	// width: 100%;

	.container {
		width: 90%;
		margin: 0 auto;
		display: flex;
		gap: 10px;

		.wrap {
			width: 100%;

			.img {
				// height: 100%;
				width: 100%;

				border-radius: 15px;
			}
		}
	}

	@media screen and (min-width: 43em) {
		margin-bottom: 4em;

		.container {
			width: 90%;
			margin: 0 auto;
			justify-content: center;
		}
	}

	@media screen and (min-width: 62em) {
		margin-bottom: 4em;

		.container {
			width: 50%;
			margin: 0 auto;
			justify-content: center;
			gap: 2em;
		}
	}
}
