@use '../base//utils' as *;
@use '../base/breakpoints' as *;
@use '../base/variables' as *;
@use '../components/buttons' as *;

.news-updates-section {
	// height: 500px;
	background: whitesmoke;
	margin-bottom: 10em;
	padding: 6em 0 6em 0;

	.container {
		.wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 90%;
			margin: 0 auto;

			display: none;

			.text-area {
				max-width: 500px;
				margin: 0 auto 4em;
				text-align: center;

				.heading {
					@include font-component(700);
				}

				.subtext {
					color: $grey;
				}
			}

			.btn-wrap {
				opacity: 0;
				visibility: hidden;

				.btn {
					@include btn-mixin();
					border: none;
					background: $dark;
				}
			}

			@media screen and (max-width: 43em) {
				display: grid;
				gap: 1.5em;

				text-align: center;

				.text-area {
					.heading {
						font-size: 2rem;
						font-weight: 700;
						margin-bottom: 0.3em;
					}
				}

				.btn-wrap {
					text-align: center;
				}
			}
		}
	}

	.lp-news-content {
		width: 90%;
		margin: 0 auto;
		display: grid;
		gap: 2em;

		.news-card {
			display: flex;
			width: 80%;
			margin: 0 auto;
			gap: 5em;

			.wrap {
				// width: 100%;
				padding-top: 2em;

				.eyebrow {
					position: relative;
					height: 40px;
					width: 200px;
					background: #1a2d418a;
					border-radius: 40px;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-bottom: 1em;

					&::after {
						content: '';
						position: absolute;
						height: 10px;
						width: 10px;
						left: 10%;
						top: 40%;
						// transform: translateY(-0%);
						background: $dark;
						border-radius: 50%;
						animation: pulsate 1s infinite;
					}

					.text {
						color: $dark;
					}
				}

				.heading {
					@include font-component(700);
					margin-bottom: 0.3em;
				}

				.text {
					color: $grey;
					line-height: 1.7;
				}
			}

			.img-wrap {
				// width: 100%;
				.img {
					width: 400px;
				}
			}
		}

		@media screen and (max-width: 62em) {
			// background: teal;

			.news-card {
				display: grid;
				grid-template-columns: 1fr;
			}
		}

		@media screen and (max-width: 43em) {
			// background: teal;
			width: 100%;

			.news-card {
				display: grid;
				grid-template-columns: 1fr;
				gap: 1em;
				width: 100%;

				.wrap {
					width: 90%;
					margin: 0 auto 20px;

					.eyebrow {
						margin-bottom: 10px;
						margin: 0 auto 15px;
					}

					.heading {
						text-align: center;
						line-height: 1.2;
					}

					.text {
						text-align: center;
					}
				}

				.img-wrap {
					.img {
						width: 100%;
					}
				}
			}
		}
	}
}

@keyframes pulsate {
	0%,
	100% {
		transform: scale(0, 0);
	}

	50% {
		transform: scale(1, 1);
	}
}
