@use '../base//utils' as *;
@use '../base/breakpoints' as *;
@use '../base/variables' as *;
@use '../components/buttons' as *;

.news-updates-section {
	// height: 500px;
	background: whitesmoke;
	margin-bottom: 10em;
	padding: 6em 0 6em 0;

	.container {
		.wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 90%;
			margin: 0 auto;

			.text-area {
				max-width: 500px;
				.heading {
					@include font-component();
				}

				.subtext {
					color: $grey;
				}
			}

			.btn-wrap {
				opacity: 0;
				visibility: hidden;

				.btn {
					@include btn-mixin();
					border: none;
					background: $dark;
				}
			}

			@media screen and (max-width: 43em) {
				display: grid;
				gap: 1.5em;

				text-align: center;

				.text-area {
					.heading {
						font-size: 2rem;
						font-weight: 700;
						margin-bottom: 0.3em;
					}
				}

				.btn-wrap {
					text-align: center;
				}
			}
		}
	}

	.lp-blog-content {
		width: 90%;
		margin: 0 auto;
		display: grid;
		gap: 2em;

		.blog-card {
			.blog-img-wrap {
				height: 250px;
				width: 100%;
				overflow: hidden;
				border-radius: 10px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}

			.blog-text-wrap {
				.blog-title {
					font-size: 1.1rem;
					margin: 0.5em 0;
					color: $dark;
				}
			}

			.btn-wrap {
				.blog-btn {
					background: transparent;
					text-decoration: underline;
					border: none;
					text-underline-offset: 5px;
					color: $accent-color;
					cursor: pointer;
					font-weight: 600;
				}
			}

			.no-data-wrap {
				text-align: center;
				padding: 2em 0;
				color: $dark;
				background: orange;
				border-radius: 10px;

				.no-data-content {
					font-size: 1.2rem;
					font-weight: 500;
				}
			}
		}

		@media screen and (min-width: 43em) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media screen and (min-width: 62em) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
