@use '../base/variables' as *;
@use '../base/utils' as *;

.social-media {
	// background: teal;
	min-height: 500px;
	width: 100%;
	margin-bottom: 7em;

	.text-section {
		margin-bottom: 4em;
		.heading {
			@include font-component();
			max-width: 500px;
			text-align: center;
			line-height: 1.3;
			margin: 0 auto;

			@media screen and (max-width: 43em) {
				font-size: 2rem;
				font-weight: 700;
				max-width: 400px;
			}
		}
	}

	.container {
		display: flex;
		// width: max-content;
		// flex-wrap: wrap;
		// justify-content: center;

		@media screen and (max-width: 62em) {
			flex-wrap: wrap;
			justify-content: center;
		}

		@media screen and (max-width: 43em) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);

			.social-media-img {
				width: 100% !important;
				height: 200px !important;

				img {
					width: 100%;
				}
			}
		}

		.social-media-img {
			height: 400px;
			width: 300px;
			transition: all 200ms ease-in;
			cursor: pointer;
			position: relative;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&:hover {
				width: 600px;

				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					height: 50px;
					width: 100%;
					background: linear-gradient(
						to top,
						rgb(26, 45, 65) 10%,
						transparent 100%
					);
				}

				img {
					width: 100%;
				}
			}
		}
	}
}

.expand-img-modal {
	position: fixed;
	inset: 0;
	z-index: 5;
	background: rgba(0, 0, 0, 0.897);
	transition: all 500ms ease-in;
	opacity: 0;
	visibility: hidden;

	display: flex;
	align-items: center;
	align-items: center;

	.img-container {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		margin: 0 auto;

		img {
			width: 350px;
			// opacity: 0;
		}

		.modal-close-btn {
			z-index: 3;
			left: 110%;
			top: 0;
			position: absolute;
			background: transparent;
			height: 30px;
			width: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 2px solid $light;
			border-radius: 50%;
			cursor: pointer;

			.fa-solid {
				color: $light;
				font-size: 1rem;
			}

			@media screen and (max-width: 43em) {
				top: 110%;
				left: 50%;
			}
		}
	}
}

.show-img-modal {
	opacity: 1;
	visibility: visible;
}
