@use '../base/fonts' as *;
@use '../base/breakpoints' as *;
@use '../base/variables' as *;
@use '../components/buttons' as *;

.wart-ad-section {
	width: 100%;
	margin-bottom: 7em;
	opacity: 0;
	transition: all 700ms ease-in-out;
	transform: scale(0, 0);
	position: relative;
	display: none;

	&::after {
		content: '';
		position: absolute;
		background: linear-gradient(
			180deg,
			rgba(26, 45, 65, 0.5) 0%,
			rgba(47, 64, 84, 0.514) 60%,
			rgba(200, 123, 71, 0.493) 100%
		);
		inset: 0;
		z-index: 1;
		backdrop-filter: blur(3px);
	}

	.wart-ad-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			// border-radius: 30px;
		}
	}

	.container {
		text-align: center;
		margin-bottom: 3em;

		min-height: 450px;
		@include breakpoints();
		position: relative;

		.ad-content {
			padding-top: 6em;
			position: relative;
			z-index: 2;

			.heading {
				@include outfit-fonts();
				font-weight: 300;
				letter-spacing: normal;
				color: $light;
				font-size: 2rem;
				font-weight: 700;
				width: 70%;
				margin: 0 auto 0.6em;

				.highlight {
					@include greatVibes-fonts();
					color: #b14b07;
				}
			}

			.btn-wrap {
				.wart-ad-btn {
					@include btn-mixin();
					background: $dark;
					border: none;
					cursor: pointer;
				}
			}
		}

		@media screen and (min-width: 62em) {
			width: 80%;

			.ad-content {
				.heading {
					width: 80%;
					margin: 0 auto;
					margin-bottom: 0.6em;
					font-size: 60px;
					line-height: 50px;
					font-weight: 800;
				}
			}
		}
	}
}

.show-ad {
	opacity: 1;
	transform: scale(1, 1);
}
