@use '../base/variables' as *;
@use '../base/breakpoints' as *;
@use '../base/utils' as *;

.faq-container {
	background: $light;
	margin-top: 8em;
	padding-top: 5em;
	margin-bottom: 10em;

	.text-area {
		text-align: center;
		margin-bottom: 3em;

		img {
			width: 50px;
		}

		.heading {
			@include heading-mixin();
			font-size: 2rem;
			max-width: unset;
		}
	}

	.accordion {
		max-width: 600px;
		margin: 0 auto;
		padding-bottom: 5em;

		.accordion-item {
			margin-bottom: 2.5em;
			background: #ccc;
			padding: 1.5em;
			border-radius: 20px;

			.accordion-header-wrap {
				.icon {
					@include icon-wrap-mixin();
					margin-bottom: 0.5em;
					border: $dark 3px dotted;

					img {
						width: 20px;
					}
				}

				.accordion-header {
					color: $dark;
					margin-bottom: 0.7em;
				}

				i {
					color: $accent-color;
				}
			}

			.accordion-content {
				ul {
					padding-top: 0.6em;
					display: grid;
					gap: 1em;

					li {
						color: $light;
						line-height: 1.5;
					}
				}
			}
		}
	}
}
