@import '../resets';

.practice-comms-policy {
	// margin-bottom: 6em;
	overflow: hidden;
	padding-bottom: 2em;
	margin-top: 10em;

	.wrapper {
		width: 90%;
		margin: 0 auto;
		// background: linear-gradient(90deg, #00566e, $dark);
		background: #00566e;
		position: relative;
		border-radius: 20px;

		.text-wrap {
			padding: 4em 0;

			// text-align: center;
			.heading {
				font-size: 2rem;
				color: $light;
				margin-bottom: 1.4em;
				text-align: left;
			}

			.text {
				margin-bottom: 1.5em;
				color: $light;
				text-align: left;
				font-weight: 600;
				text-decoration: underline;
				text-underline-offset: 6px;
				text-decoration-color: $accent-color;
				text-decoration-thickness: 2px;
			}

			ul {
				margin-bottom: 2em;
				padding-left: 2em;
				color: #fff;
				display: grid;
				gap: 1em;
			}

			@media screen and (min-width: 62em) {
				text-align: left;
				// width: 60%;

				.heading {
					line-height: 1.2;
				}

				.text {
					margin: unset;
					margin-bottom: 1em;
				}
			}
		}

		@media screen and (min-width: 62em) {
			width: 70%;

			.text-wrap {
				width: 60%;
			}
		}
	}
}

.footer-btn-wrap {
	background: $dark;
	padding: 2em 1em;

	text-align: center;

	.footer-btn {
		@include btn-mixin();
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1em;

		@media screen and (min-width: 62em) {
			width: 30%;
			margin: 0 auto;
		}
	}
}
