@use '../base/variables' as *;
@use '../base/breakpoints' as *;
@use '../base/utils' as *;

.section-three-wrap {
	// padding-left: 2em;

	.wrap {
		display: grid;
		gap: 1em;
		grid-auto-columns: 70%;
		grid-auto-flow: column;
		padding-left: 1.4em;
		padding-right: 1em;
		scroll-snap-type: x mandatory;
		padding-bottom: 3em;
		overflow-x: auto;

		.link-card {
			scroll-snap-align: start;
			min-height: 200px;
			background: #f5fcfb;
			box-shadow: $shadow;
			padding: 1em;
			border-radius: 20px;

			.icon {
				@include icon-wrap-mixin();
				margin-bottom: 0.5em;
				border: $dark 3px dotted;

				img {
					width: 20px;
				}
			}

			.heading {
				font-size: 0.9rem;
				color: $dark;
				margin-bottom: 2em;
			}

			a {
				color: $accent-color;
				display: inline-block;
			}
		}

		@media screen and (min-width: 43em) {
			grid-auto-columns: 40%;
		}

		@media screen and (min-width: 62em) {
			display: flex;
			width: 90%;
			margin: 0 auto;
			margin-top: -4em;
			// height: 200px;

			.link-card {
				// padding-top: 3em;
				padding-left: 1.5em;
			}
		}
	}
}
