@use '../base/variables' as *;
@use '../base/breakpoints' as *;
@use '../base/utils' as *;

.section-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 6em;
	// display: none;

	.wrap {
		background: #f5fcfb;
		@include width-mixin();
		color: $light;
		border-radius: 20px;
		position: relative;
		padding: 2em 2em 4em 2em;

		.position-icon-wrap {
			position: absolute;
			right: -6%;
			bottom: -12.4%;
			overflow-x: hidden;
			display: none;

			img {
				width: 100px;
				filter: grayscale(100%);
			}
		}

		.info-wrap {
			color: $dark;
			position: relative;

			.heading {
				@include heading-mixin();
				font-size: 2rem;
				text-align: center;
				margin: 0 auto 0.8em auto;
			}
		}
	}

	@media screen and (min-width: 62em) {
		.wrap {
			width: 60%;
			padding: 5em;

			.info-wrap {
				.heading {
					position: absolute;
					top: -130%;
					background: $dark;
					padding: 0.6em;
					left: 50%;
					transform: translateX(-50%);
					white-space: nowrap;
					box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
					border-radius: 20px;
					color: $light;

					.highlight {
						display: inline-block;
						text-decoration: wavy underline $light;
					}
				}
			}
		}
	}
}
