@use '../base/variables' as *;
@use '../base/breakpoints' as *;
@use '../components/buttons' as *;

.transfer-notice {
	// margin-bottom: 6em;
	overflow: hidden;
	padding-bottom: 6em;

	.transfer-wrap {
		width: 90%;
		margin: 0 auto;
		background: #00566e;
		position: relative;
		border-radius: 20px;

		.transfer-text-wrap {
			padding: 4em 3em;
			text-align: center;

			.heading {
				font-size: 2rem;
				color: $light;
				margin-bottom: 0.8em;
			}

			.text {
				max-width: 500px;
				margin: 0 auto;
				margin-bottom: 1.5em;
				color: $light;
			}

			.btn-wrap {
				a {
					@include btn-mixin();
					background: $accent-color;
					color: $light;
					// padding: 0.8em 1.5em;

					margin-top: 1em;
				}
			}

			@media screen and (min-width: 62em) {
				text-align: left;
				width: 60%;

				.heading {
					line-height: 1.2;
				}

				.text {
					margin: unset;
					margin-bottom: 1em;
				}
			}
		}

		.img-wrap {
			width: 100%;

			img {
				width: 100%;
				height: 300px;
				object-fit: cover;
				border-radius: 20px;
			}

			@media screen and (min-width: 62em) {
				position: absolute;
				top: 15%;
				left: 65%;
				// width: 100%;

				img {
					width: 40%;
					border-radius: 20px;
				}
			}
		}

		@media screen and (min-width: 62em) {
			width: 70%;
		}
	}
}

.footer-btn-wrap {
	background: $dark;
	padding: 2em 1em;

	text-align: center;

	.footer-btn {
		@include btn-mixin();
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1em;

		@media screen and (min-width: 62em) {
			width: 30%;
			margin: 0 auto;
		}
	}
}
