@import '../resets';

.wart-cta-section {
	margin-bottom: 7em;

	.container {
		// @include width-mixin();
		// border-radius: 30px;
		background: radial-gradient(circle at center, #c87b47 0%, #1a2d41 100%);
		padding: 4em 0;

		.text-area {
			text-align: center;
			width: 90%;
			margin: 0 auto;

			.heading {
				@include outfit-fonts();
				font-size: 3rem;
				color: $light;
				margin-bottom: 0.3em;
				// background: red;
				line-height: 1.2;
			}

			.subtext {
				color: $light;
				margin-bottom: 1.9em;
			}

			.btn-wrap {
				display: flex;
				justify-content: center;

				.btn {
					@include btn-mixin();
					background: $dark;
					border: none;
					cursor: pointer;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 0.5em;

					.calendar {
						border: $light solid 2px;
						height: 30px;
						width: 30px;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 50%;
					}
				}
			}
		}

		@media screen and (min-width: 62em) {
			width: 70%;
			margin: 0 auto;
			border-radius: 30px;
		}
	}
}
