@use '../base/breakpoints' as *;
@use '../base/variables' as *;
@use '../base/fonts' as *;
@use '../components/buttons' as *;
@use '../base/utils' as *;

.darma-section {
	margin-bottom: 12em;

	.container {
		// background: orange;
		@include width-mixin();
		display: grid;
		gap: 2em;

		.text-area {
			// width: 100%;
			// padding-right: 2em;
			// background: teal;

			.heading {
				font-size: 2.9rem;
				font-weight: 400;
				@include outfit-fonts();
				margin-bottom: 0.3em;
				color: $dark;
			}

			.subtext {
				line-height: 1.9;
				padding-right: 2em;
				margin-bottom: 1.2em;
				@include outfit-fonts();
				color: $dark;
				font-size: 1.2rem;
			}

			.btn-wrap {
				.btn {
					@include btn-mixin();
					border: none;
					background: $dark;
					cursor: pointer;
				}
			}
		}

		.img-wrap {
			height: 400px;
			width: 100%;
			@include wart-image-gradient();

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 30px;
			}
		}

		@media screen and (min-width: 43em) {
			// background: teal;

			.text-area {
				max-width: 600px;
				text-align: center;
				margin: 0 auto;

				.subtext {
					padding-right: unset;
				}
			}
		}

		@media screen and (min-width: 62em) {
			display: flex;

			.text-area {
				max-width: unset;
				text-align: left;
				padding-right: 3em;
				width: 100%;
			}

			.img-wrap {
				width: 100%;
			}
		}
	}
}
