@use '../base/breakpoints' as *;
@use '../base/variables' as *;
@use '../base/fonts' as *;

.blog-article {
	padding-top: 5vh;
	position: relative;
	margin-bottom: 4em;
	// padding-bottom: 5em;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 80vh;
		background: whitesmoke;
		z-index: -1;

		@media screen and (min-width: 43em) {
			height: 80vh;
		}

		@media screen and (min-width: 62em) {
			// height: 8;
		}
	}

	.container {
		@include width-mixin();

		.masthead {
			display: grid;
			grid-template-areas:
				'img-wrap'
				'heading-wrap';
			// margin-bottom: 5em;
			// background: red;

			.heading-section {
				grid-area: heading-wrap;
				margin: 2rem 0;

				.date-time {
					font-size: 12px;
					font-weight: 600;
					margin-bottom: 5px;
				}

				.blog-article-title {
					font-size: 1.5rem;
					color: $dark;
					@include sora();
					font-weight: 700;
					margin-bottom: 0.5em;
				}

				.author-wrap {
					display: flex;
					align-items: center;
					gap: 0.5em;

					.avatar-img-wrap {
						width: 45px;
						height: 45px;
						overflow: hidden;
						border-radius: 50%;
						background: $light;
						border: solid 2px $accent-color;
						display: flex;
						align-items: center;
						justify-content: center;

						.author-avatar {
							width: 80%;
							height: 80%;
							object-fit: contain;
							object-position: center;
						}
					}

					.author-name {
						font-size: 12px;
						font-weight: 600;
						margin-bottom: 5px;
						color: $dark;
					}
				}
			}

			.img-wrap {
				grid-area: img-wrap;
				height: 300px;
				width: 100%;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
		}

		.blog-article-content {
			.blog-article-posts {
				display: grid;
				gap: 1em;
				width: 90%;
				margin: 0 auto;
				line-height: 1.8;
				color: #333;
				font-size: 1rem;

				.post {
					font-size: 14px;
					color: $text-color-primary;
					line-height: 30px;
				}

				p {
					line-height: 30px;
					// margin-bottom: 0.8em;
					font-size: 14px;
				}

				h1,
				h2,
				h3,
				h4,
				h5 {
					margin-top: 1em;
					font-weight: 600;
					color: #111;
				}

				ul,
				ol {
					margin: 1em 0 1.5em 2em;
					padding-left: 1em;

					li {
						margin-bottom: 0.6em;
						list-style: disc;
						font-size: 14px;
					}
				}

				blockquote {
					border-left: 4px solid #ccc;
					padding: 1em 1em 1em 1.5em;
					color: #555;
					font-style: italic;
					margin: 1.5em 0;
					font-size: 14px;
					background: #e2e2e2;
				}

				img {
					max-width: 100%;
					height: 400px;
					border-radius: 10px;
					margin: 2em 0;
					object-fit: cover;
				}
			}
		}

		@media screen and (min-width: 43em) {
			width: 70%;

			.masthead {
				margin-bottom: 6.5em;
			}
		}

		@media screen and (min-width: 62em) {
			width: 90%;
			// padding-top: 9em;

			.masthead {
				display: grid;
				grid-template-areas: 'heading-section' 'img-wrap';

				.heading-section {
					width: 100%;
					grid-area: heading-section;
					text-align: center;

					.author-wrap {
						display: flex;
						justify-content: center;
						display: none;
					}
				}

				.img-wrap {
					width: 80%;
					margin: 0 auto;
					height: 350px;
					grid-area: img-wrap;

					.blog-article-image {
						border-radius: 20px;
						object-position: top;
					}
				}
			}

			.blog-article-content {
				width: 60%;
				margin: 0 auto;
			}
		}
	}
}

.cta-section {
	padding: 2rem 2em;
	background: darken(whitesmoke, 5%);

	.container {
		width: fit-content;
		margin: 0 auto;
		text-align: center;

		h2 {
			margin-bottom: 0.5em;
			color: $dark;
		}

		p {
			color: rgb(43, 43, 43);

			a {
				color: $accent-color;
				font-weight: 600;
				text-decoration: underline;
				text-underline-offset: 5px;
			}
		}
	}
}
