@use '../base/utils' as *;
@use '../base/variables' as *;

.blog-articles {
	margin-bottom: 5em;

	.container {
		display: flex;
		width: 80%;
		margin: 0 auto;

		.articles-wrap {
			width: 70%;

			.title-wrap {
				margin-bottom: 2em;

				.heading {
					color: #393930;
					@include font-component(700);
					font-weight: 700;
					// font-size: 2.5rem;
				}
			}

			#blog-posts-wrap {
				// background: teal;
				display: grid;
				gap: 2em;
				max-width: 700px;

				.wrapper {
					display: flex;
					gap: 2em;
					background: rgb(245, 245, 245);
					padding: 1em;
					border-radius: 15px;

					.blog-img-wrap {
						width: 200px;
						height: 200px;
						// background: red;

						.article-img {
							width: 200px;
							height: 200px;
							object-fit: cover;
							border-radius: 20px;
						}
					}

					.blog-text-wrap {
						padding: 10px 0;
						display: flex;
						justify-content: space-between;
						flex-direction: column;

						.btn-wrap {
							.blog-btn {
								background: transparent;
								text-decoration: underline;
								border: none;
								text-underline-offset: 5px;
								color: $accent-color;
								cursor: pointer;
								font-weight: 600;
							}
						}
					}
				}
			}
		}

		.aside {
			width: 30%;
		}

		@media screen and (max-width: 62em) {
			width: 90%;
			display: grid;

			.articles-wrap {
				width: 100%;

				.title-wrap {
					text-align: center;
				}
			}

			.aside {
				width: 100%;
			}
		}

		@media screen and (max-width: 43em) {
			.articles-wrap {
				display: grid;
				gap: 2em;
				max-width: 700px;

				.wrapper {
					display: grid !important;
					gap: 1em;
					background: rgb(245, 245, 245);
					padding: 1em;
					border-radius: 15px;

					.blog-img-wrap {
						width: 100% !important;
						height: 200px;
						// background: red;

						.article-img {
							width: 100% !important;
							height: 200px;
							object-fit: cover;
							border-radius: 20px;
						}
					}

					.blog-text-wrap {
						padding: 10px 0;
						display: flex;
						justify-content: space-between;
						flex-direction: column;

						.btn-wrap {
							.blog-btn {
								background: transparent;
								text-decoration: underline;
								border: none;
								text-underline-offset: 5px;
								color: $accent-color;
								cursor: pointer;
								font-weight: 600;
							}
						}
					}
				}
			}

			.aside {
				width: 100%;
			}
		}
	}
}
