@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@mixin greatVibes-fonts() {
	font-family: 'Great Vibes', cursive;
}

@mixin outfit-fonts() {
	font-family: 'Outfit', sans-serif;
}

@mixin sora() {
	font-family: 'Sora', sans-serif;
	// font-weight: 700;
	font-style: normal;
}
