@use '../base/variables' as *;

@mixin icon-wrap-mixin() {
	height: 30px;
	width: 30px;
	border: 3px $accent-color dotted;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin heading-mixin() {
	font-size: 1.8rem;
	margin-bottom: 0.4em;
	color: $dark;
	font-weight: 700;
	font-size: 3rem;
	max-width: 500px;
	// line-height: 1.3;
}

@mixin text-mixin() {
	line-height: $lineheight;
	margin-bottom: 1.5em;
	color: $text-color-primary;
}

$wart-accent-color: #b14b07;

// this gradient is applied over wart images' div wrap
@mixin wart-image-gradient() {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		inset: 0;
		background: linear-gradient(
			180deg,
			rgba(26, 45, 65, 0.452) 0%,
			rgba(47, 64, 84, 0.473) 50%,
			rgba(200, 123, 71, 0.452) 100%
		);
		border-radius: 30px;
	}
}

@mixin font-component() {
	font-size: 2.7rem;
	font-weight: 400;
	line-height: 1.4;
	color: $grey;

	// @media screen and (max-width: 43em) {
	// 	// font-size: 2rem;
	// }
}
