// vairables
$dark: #1a2d41;
$grey: #393930;
$bg-color: #fbf9a3;
$light: #fff;
$accent-color: #c87b47;
$different-color: #00ffe0;
$text-color-primary: rgb(43, 43, 43);
$color: #1ee0fb;
$width: 90%;
$shadow: 0px 13px 30px rgba(0, 0, 0, 0.07999999821186066);
$lineheight: 1.7;
$heading: clamp(2.5rem, 3.5vw, 4rem);
$font-size: 14px;
