@use '../base/variables' as *;

.fb-main {
	height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-bottom: 4em;

	@media screen and (min-width: 62em) {
		margin-bottom: 6em;
	}

	.img-wrap {
		position: absolute;
		width: 100%;
		height: 100%;

		.img-element {
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: top;
			// padding-bottom: 2em;
		}
	}

	&::after {
		content: '';
		position: absolute;
		inset: 0;
		background: rgba(0, 0, 0, 0.644);
	}

	.container {
		position: relative;
		z-index: 1;

		.heading {
			font-size: 2.5rem;
			color: $light;
		}
	}
}
