@import '../resets';

.contact-area {
	// padding: 10em 0 6em 0;
	margin-top: -10em;
	padding-bottom: 10em;

	.container {
		transition: all 1s ease;
		display: flex;
		align-items: center;
		height: 100%;
		justify-content: center;
		width: 90%;
		margin: 0 auto;

		.form-wrap {
			background: $light;
			border-radius: 20px;
			padding: 40px;
			box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
			position: relative;

			.feedback-form {
				max-width: 500px;

				.form-fields-wrap {
					.main-wrap {
						// background: teal;
						margin-bottom: 1.5em;

						p {
							margin-bottom: 1em;
							font-weight: 700;
							color: $dark;
						}

						.wrap {
							margin-bottom: 0.5em;
							display: flex;
							gap: 0.5em;

							input {
								// color: $dark;
								color: #616161;
								cursor: pointer;
							}

							label {
								line-height: 1.2;
								font-size: 0.9rem;
								max-width: 300px;
								color: #616161;
								cursor: pointer;
							}
						}
					}

					.staff-wrap {
						margin-top: 2em;
						margin-bottom: 2em;
						display: grid;
						border-top: 1px solid #ccc;
						border-bottom: 1px solid #ccc;
						padding: 1.5em 0;
						// border-radius: 15px;

						label {
							margin-bottom: 0.7em;
							font-weight: 700;
							color: $dark;
						}

						input {
							padding: 0.7em;
							border-radius: 10px;
							border: 1px solid #ccc;
							color: #616161;
						}
					}

					.personal-info-wrap {
						background: $dark;
						padding: 2em;
						display: grid;
						gap: 1em;
						border-radius: 15px;
						margin-bottom: 2em;
						box-shadow: 0 10px 20px rgba(0, 0, 0, 0.315);

						.heading {
							color: $light;
							text-transform: capitalize;
						}

						.wrap {
							input,
							select {
								width: 100%;
								padding: 0.7em;
								border-radius: 8px;
								border: 1px solid #ccc;
								background: $light;
								color: #616161;
								font-family: 'Poppins', sans-serif;
							}

							textarea {
								height: 200px;
								width: 100%;
								border-radius: 15px;
								border: 1px solid #ccc;
								font-family: 'Poppins', sans-serif;
								font-size: 0.9rem;
								padding: 1em;
							}
						}
					}
				}

				.consent-wrap {
					// display: flex;
					// padding: 0 1em;
					margin: 1em 0;
					gap: 0.5em;
					align-items: center;

					.text-wrap {
						margin-bottom: 1em;
						font-weight: 700;
						color: $dark;
					}

					.text {
						color: #616161;
						font-size: 0.9rem;
						margin-bottom: 0.4em;
					}

					.wrapper {
						display: grid;
						gap: 0.3em;

						.wrap {
							display: flex;
							gap: 0.7em;
							input {
								padding: 0;
								width: unset;
								background: teal;
								cursor: pointer;
							}

							label {
								font-size: 0.8rem;
								color: $dark;
								cursor: pointer;

								button {
									background: transparent;
									border: none;
									color: $accent-color;
									font-size: 0.8rem;
									cursor: pointer;
								}
							}
						}
					}
				}

				.btn-wrap {
					button {
						margin-top: 10px;
						padding: 0.9em;
						background-color: $accent-color;
						color: #fff;
						border: none;
						border-radius: 10px;
						font-size: 0.9rem;
						font-weight: 500;
						cursor: pointer;
						width: 100%;

						&:hover {
							background-color: darken($accent-color, 10%);
						}
					}
				}
			}
		}
	}
}
