@use '../base/variables' as *;
@use '../components/buttons' as *;

.feedback-section {
	height: 100vh;
	position: relative;
	padding-top: 5em;

	// bg image styles
	.bg-img-wrap {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;

		&::after {
			content: '';
			position: absolute;
			inset: 0;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.308);
			height: 100%;
			width: 100%;
			z-index: 0;
			backdrop-filter: blur(10px);
		}

		.contact-bg {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	} // end of bg image styles

	.text-area {
		color: $light;
		text-align: center;
		max-width: 600px;
		margin: 0 auto;
		position: relative;
		z-index: 1;
		width: 90%;

		.heading {
			// @include heading-mixin();
			font-size: clamp(2rem, 2.9vw, 4rem);
			margin-bottom: 0.5em;
			color: $light;
			line-height: 1.3;
			text-align: center;
		}

		.sub-heading {
			margin-bottom: 1.6em;
		}

		.feedback-btn {
			@include btn-mixin();
			border: none;
			// background: $dark;
			padding: 1.4em 3em;
			cursor: pointer;
		}
	}
}

// .contact-area {
// 	height: 400px;
// 	background: red;
// }
