@use '../base/variables' as *;
@use '../components/buttons' as *;

.menu-popout-modal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 5;
	padding: 1em;
	background: rgba(0, 0, 0, 0.692);
	transition: transform 1000ms ease;
	transform: translateX(-100%);

	.container {
		background: $light;
		width: 500px;
		height: 400px;
		border-radius: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translateX(-110%);
		transition:
			transform 1500ms cubic-bezier(0.19, 1, 0.22, 1),
			opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1);
		box-shadow: $shadow;

		// .info-heading {
		// 	.will-animate {
		// 		opacity: 0;
		// 		transition: 1000ms cubic-bezier(0.19, 1, 0.22, 1);
		// 		visibility: hidden;
		// 	}
		// }

		.text-area {
			// background: teal;
			width: 80%;
			text-align: center;

			.info-heading {
				margin-bottom: 0.5em;
				font-size: 1.4rem;
				color: $dark;
			}

			.text {
				color: $text-color-primary;
				// background: teal;
				padding: 0 1em;
				margin-bottom: 1.5em;
			}

			.button-wrap {
				.btn {
					@include btn-mixin();
					background: #33b7c6;
					color: $dark;
					border: none;
					cursor: pointer;

					&:nth-child(1) {
						background: $dark;
						color: $light;
					}

					&:nth-child(2) {
						padding: 13.3333px;
					}
				}
			}
		}

		@media screen and (max-width: 62em) {
			// background: red;

			// width: ;
		}

		@media screen and (max-width: 43em) {
			// background: red;

			width: 100%;
		}
	}

	// modal close button
	.btn-wrap {
		position: absolute;
		top: 1em;
		left: 530px;

		.btn {
			background: transparent;
			height: 30px;
			width: 30px;
			border: solid $light 2px;
			border-radius: 50%;
			color: $light;
			cursor: pointer;
			opacity: 0;
			visibility: hidden;
			transition: 1000ms cubic-bezier(0.19, 1, 0.22, 1);
		}

		@media screen and (max-width: 43em) {
			left: 50% !important;
			top: 65%;
			transform: translateX(-50%);
		}
	}
}

.is-open {
	transform: translateX(0);
}

.open-container {
	transform: translateX(0) !important;
	opacity: 1 !important;
}

.show-element {
	opacity: 1 !important;
	visibility: visible !important;
}

.show-btn {
	opacity: 1 !important;
	visibility: visible !important
	;
}
