@use '../base/breakpoints' as *;
@use '../base/fonts' as *;
@use '../base/variables' as *;
@use '../components/buttons' as *;
@use '../base/utils' as *;

.footer {
	background: $dark;

	.container {
		@include breakpoints();
		width: 90%;
		color: $light;
		padding-top: 4em;
		display: grid;
		gap: 3em;
		margin-bottom: 2em;

		.wrap {
			// display: grid;

			.footer-brand-logo {
				margin-bottom: 1.5em;
				img {
					width: 150px;
				}
			}

			.email-wrap {
				display: flex;
				align-items: center;
				gap: 0.6em;
				margin-bottom: 1em;

				.icon {
					@include icon-wrap-mixin();
				}

				.text {
					padding-top: 1em;
				}
			}

			.location-wrap {
				display: flex;
				align-items: center;
				gap: 0.6em;
				margin-bottom: 1em;

				.icon {
					@include icon-wrap-mixin();
				}

				.text {
					padding-top: 1em;
				}
			}

			.flag-wrap {
				display: grid;
				gap: 1em;

				.wrapper {
					display: flex;
					gap: 0.8em;

					img {
						width: 100px;
					}
				}

				p {
					font-size: 0.9rem;
				}
			}

			.heading {
				margin-bottom: 1em;
			}

			.list-wrap {
				display: grid;
				gap: 1.3em;

				.list {
					list-style: none;
					a {
						color: $light;
						font-size: 1rem;
					}
				}
			}

			.appointment-wrap {
				// background: red;
				margin-bottom: 2.5em;

				.text {
					line-height: $lineheight;
					margin-bottom: 1em;
				}

				.call-btn {
					@include btn-mixin();
					background: transparent;
					padding: 0;
					border: 2px solid #fff;

					a {
						font-size: 1rem;
						color: $light;
						display: flex;
						gap: 1em;
						justify-content: center;
						align-items: center;
						padding: 1em;
					}
				}
			}
		}

		@media screen and (min-width: 62em) {
			grid-template-columns: repeat(3, 1fr);
			padding: 5em 0;

			.wrap {
				&:nth-child(2) {
					margin-left: 5em;
				}
			}
		}
	}

	.actions {
		margin-bottom: 1em;
		color: #fff;
		// background: linear-gradient(90deg, red, blue);
		background: #00566e;

		.actions-container {
			width: 90%;
			margin: 0 auto;
			padding: 4em 1em;
			display: grid;
			gap: 1em;

			.consult-info,
			.opening-info,
			.after-hours-info,
			.feedback-info {
				.title {
					font-size: 1.2rem;
					margin-bottom: 0.7em;
				}

				.openClosedDays {
					padding-left: 2em;
					// margin-top: -1em;
					display: grid;
					gap: 0.4em;
					margin-bottom: 0.6em;

					li {
						font-size: 0.85rem;
						// text-decoration: underline;

						span {
							display: inline-block;
							margin-bottom: 0.5em;
						}

						.fback-link {
							background: $dark;
							color: #fff;
							padding: 1em;
							display: block;
							font-size: 0.8rem !important;
							width: fit-content;
						}
					}
				}

				.text-content {
					font-size: 0.9rem;
					margin-bottom: 1.5em;
				}
			}
		}

		@media screen and (min-width: 43em) {
			.actions-container {
				width: 70%;
			}
		}

		@media screen and (min-width: 62em) {
			.actions-container {
				display: flex;
				gap: 3em;
				width: 80%;

				.consult-info,
				.opening-info,
				.after-hours-info,
				.feedback-info {
					width: 100%;
				}
			}
		}
	}

	.copyright-wrap {
		color: $light;
		@include width-mixin();
		display: grid;
		gap: 1em;
		padding-bottom: 0.5em;
		grid-template-areas:
			'social-media-icons'
			'copyright-text';

		.copyright-text {
			text-align: center;
			grid-area: copyright-text;
		}

		.social-media-icons {
			display: flex;
			gap: 1.4em;
			justify-content: center;

			a {
				@include icon-wrap-mixin();
				color: $light;
			}
		}

		@media screen and (min-width: 62em) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				height: 1.8px;
				width: 100%;
				background: $light;
				bottom: 120%;
				display: none;
			}
		}
	}
}
