@use '../base/breakpoints' as *;
@use '../base/fonts' as *;
@use '../base/variables' as *;
@use '../components/buttons' as *;

li {
	list-style: none;
}

.header-nav {
	margin-bottom: 1em;

	.nav-container {
		// background: teal;
		// position: relative;
		// height: 300px;

		// top nav styles property/values
		.top-nav {
			display: flex;
			width: 85%;
			margin: 0 auto;
			justify-content: space-between;
			align-items: center;
			padding: 1em 0;

			.button-wrap {
				.pop-menu-btn {
					background: transparent;
					border: none;
					cursor: pointer;

					img {
						width: 40px;
					}
				}
			}

			.top-links {
				display: flex;
				gap: 2em;

				li {
					display: flex;
					align-items: center;
					gap: 1em;
					// background: teal;

					span {
						display: display;
						align-items: center;
						justify-content: center;
						height: 35px;
						width: 35px;
						// background: orange;

						img {
							width: 30px;
							display: inline-block;

							object-fit: contain;
						}
					}

					.link-text {
						display: grid;
						gap: -2em;

						p {
							color: $dark;
							font-size: 13px;
						}

						.top-nav-link {
							color: $accent-color;
							font-size: 14px;
						}
					}

					&:nth-child(1) {
						span {
							margin-top: -0.7em;
							margin-right: -0.1em;

							img {
								width: 52px;
							}
						}
					}
					&:nth-child(2) {
						span {
							margin-right: -0.7em;

							img {
								width: 35px;
							}
						}
					}
					&:nth-child(3) {
						span {
							margin-right: -1em;
							img {
								width: 30px;
							}
						}
					}
				}
			}

			@media screen and (max-width: 62em) {
				background: red;
				display: none;
			}
		}
		// end of top nav styles

		.wrapper {
			background: $dark;
			width: 98%;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-radius: 15px;
			padding: 1em 4em;
			transition: all 1000ms ease;

			.brand-logo {
				.logo-wrap {
					.logo {
						width: 150px;
					}
				}
			}

			.wrap {
				display: flex;
				gap: 4em;
				align-items: center;

				.nav-links {
					display: flex;
					gap: 3em;
					align-items: center;

					.link {
						a {
							color: $light;
							font-size: $font-size;

							.link-text {
								font-size: $font-size;
							}
						}
					}

					#dropdown-btn {
						position: relative;

						.patient-info-dropdown {
							position: absolute;
							top: 200%;
							display: none;
						}
					}
				}

				.btn-wrap {
					.btn {
						@include btn-mixin();
					}
				}

				.close-btn {
					display: none;
				}

				.hamburger {
					display: none;
				}
			}
		}

		@media screen and (max-width: 62em) {
			display: flex;
			align-items: center;
			position: relative;

			.wrapper {
				padding: 1.5em;
				margin-top: 0.5em;

				.wrap {
					display: flex;
					align-items: center;
					justify-content: center;

					.nav-links {
						display: grid;
						gap: 1.8em;
						justify-content: center;
						text-align: center;

						position: absolute;
						top: 105%;
						right: 1%;
						transform: translateY(-150%);
						transition: transform 1000ms ease;
						background: $dark;
						border-radius: 20px;
						width: 40%;
						padding: 3em 2em;
						z-index: 10;
					}
				}

				.btn-wrap {
					display: none;
				}

				.hamburger {
					position: absolute;
					right: 6%;
					top: 55%;
					transform: translateY(-60%);
					cursor: pointer;
					display: block !important;

					span {
						.fa-solid {
							font-size: 1.4rem;
							color: $light;
						}
					}
				}
			}
		}

		@media screen and (max-width: 43em) {
			.wrapper {
				.wrap {
					.nav-links {
						width: 98%;
						right: 1%;
						display: grid;
						gap: 1.8em;
						justify-content: center;
						text-align: center;
					}
				}

				.btn-wrap {
					display: none;
				}
			}

			.hamburger {
				right: 10%;
			}
		}
	}
}

.fixed-navbar {
	position: fixed;
	top: -10%;
	left: 1%;
	transform: translateY(90%) !important ;
	transition: all 1000ms ease;
	z-index: 4;

	@media screen and (max-width: 62em) {
		transform: translateY(70%) !important;
	}
}

.show-mobile-menu {
	transform: translateY(0) !important;
}
