@use '../base/variables' as *;

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html,
div {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

li {
	// list-style: none;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
}

a {
	text-decoration: none;
	font-size: 14px !important;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Poppins', sans-serif;
	// font-weight: 700;
	font-style: normal;
}

p {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
}

li {
	font-size: 0.9rem;
}

input {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
}

textarea {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
}

button {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.map-embed-section {
	line-height: 0;

	.container {
		// width: 90%;
		margin: 0 auto;

		iframe {
			height: 400px;
			width: 100%;
		}
	}
}
