@import 'resets';

.bio-modal-container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: rgb(0, 0, 0, 0.5);
	z-index: 10;
	display: none;

	.close-btn {
		position: absolute;
		bottom: 7%;
		left: 50%;
		transform: translateX(-50%);
		background: red;
		z-index: 11;
		border: none;
		color: $light;
		padding: 1em;
		border-radius: 15px;
		cursor: pointer;
		font-weight: 600;

		@media screen and (min-width: 43em) {
			top: 10%;
			bottom: unset;
			left: unset;
			right: 15%;
		}

		@media screen and (min-width: 62em) {
			top: 10%;
			bottom: unset;
			left: unset;
			right: 20%;
		}
	}

	.modal-container {
		background: $light;
		max-height: 600px;
		@include width-mixin();
		position: absolute;
		left: 5%;
		top: 50%;
		transform: translateY(-50%);
		overflow: scroll;
		padding: 2em;
		border-radius: 20px;

		.modal-content {
			.dp-wrap {
				height: 80px;
				width: 80px;
				border-radius: 100%;
				margin-bottom: 1em;
				position: relative;

				&::after {
					content: '';
					position: absolute;
					border: 5px solid $accent-color;

					height: 95px;
					width: 95px;
					border-radius: 100%;
					left: -9.5%;
					top: -9.39%;
				}

				.img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 100%;
				}
			}

			.heading-title {
				color: $accent-color;
			}

			.subtext {
				margin-bottom: 2em;
				font-weight: 600;
			}

			.text-wrap {
				max-width: 500px;
				display: grid;
				gap: 3em;
			}
		}

		@media screen and (min-width: 43em) {
			width: 70%;
			left: 15%;
		}

		@media screen and (min-width: 62em) {
			width: 50%;
			left: 25%;
		}
	}
}

.display {
	display: block;
}

.body-overflow {
	overflow: hidden;
}
