@use './base/variables' as *;
@use './base/fonts' as *;
@use './components/buttons' as *;

.exit-intent-modal {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	// transition: all 800ms ease-in-out;
	background: rgba(0, 0, 0, 0.514);

	.container {
		background: rgb(245, 245, 245);
		border-radius: 20px;
		position: relative;

		.exit-close-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 103%;
			left: 50%;
			transform: translateX(-50%);
			background: transparent;
			height: 30px;
			width: 30px;
			border-radius: 50%;
			border: solid 2px $light;
			cursor: pointer;

			.fa-solid {
				color: $light;
			}
		}

		.text-wrapper {
			padding: 2em;
			width: 100%;

			.heading {
				color: $dark;
				font-size: 40px;
				line-height: 1.3;
				@include sora();
				text-transform: uppercase;
				padding-top: 0.6em;
				margin-bottom: 10px;
			}

			.highlight {
				line-height: 30px;
				display: inline-block;
				font-weight: 600;
				margin-bottom: 1.5em;
				@include sora;
				font-weight: 400;
				font-size: 20px;
				color: $dark;
				padding-right: 20px;
			}

			.text {
				color: $light;
				margin-bottom: 1.3em;
				font-size: 15px;
				padding: 0 2em;
			}

			.btns-wrap {
				position: relative;
				display: flex;
				gap: 1.5em;
				align-items: center;

				a {
					&:nth-child(1) {
						@include btn-mixin();
					}

					&:nth-child(2) {
						color: $dark;
						text-decoration: underline;
						text-underline-offset: 5px;
						text-decoration-color: red;
						text-decoration-thickness: 2px;
						text-transform: capitalize;
					}

					&:nth-child(3) {
						color: $light;
						position: absolute;
						top: 150%;
					}
				}
			}
		}

		.img-wrap {
			height: 100%;
			width: 100%;
			background: $dark;
			border-radius: 0 17px 17px 0;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 0 17px 17px 0;
				// display: none;
			}
		}

		@media screen and (min-width: 62em) {
			width: 800px;
			height: 350px;
			display: flex;
		}
	}
}

.show-exit-intent-popup {
	opacity: 1;
	visibility: visible;
}
