@import 'resets';
.main-content-hero {
	background-image: linear-gradient(to left bottom, #1a2d41, #483d60, #1a2d41);
	overflow-x: hidden;
	height: 100vh;
	width: 100%;
	overflow: hidden;

	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
		// display: none;
	}

	.six-months-wrap {
		position: absolute;
		top: 15%;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
		width: 100%;

		.img {
			// z-index: 5;
			mix-blend-mode: overlay;
			width: 70%;

			@media screen and (min-width: 43em) {
				width: 40%;
			}
		}
	}
}

@keyframes bounce {
	0% {
		// transform: translateY(0);
		top: 0;
	}
	20% {
		// transform: translateY(-5px); /* Small upward jiggle */
		top: -50%;
	}
	40% {
		top: 100%;
		// transform: translateY(50px); /* Adjust for bounce height */
		animation-timing-function: ease-in;
	}
	60% {
		top: 0;
		// transform: translateY(0);
		animation-timing-function: ease-out;
	}
	80% {
		transform: translateY(-10px); /* Slight overshoot */
	}
	100% {
		transform: translateY(100%);
	}
}

/* Define the keyframes for the continuous scroll */
@keyframes continuousScroll {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-50%);
	}
}

.showcase-slider-section {
	overflow: hidden;
	width: 100%;
	margin-top: 1em;
	margin-bottom: 7em;

	.showcase-track {
		display: flex;
		gap: 1em;
		width: max-content;
		animation: continuousScroll 30s infinite linear;

		.showcase-section {
			display: flex;
			flex-shrink: 0;
			gap: 1em;
			// padding: 0 1em;
			margin-bottom: 0;
			margin-top: 0;

			.showcase-item {
				height: 200px;
				background: teal;
				width: 200px;
				border-radius: 8px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 8px;
				}
			}
		}
	}
}
