@import 'resets';

.our-doctors-section {
	padding: 6em 0;
	padding-top: 7em;
	padding-bottom: 7em;

	.container {
		@include width-mixin();

		.text-area {
			.eyebrow {
				text-transform: uppercase;
				margin-bottom: 0.8em;
				color: $accent-color;
			}

			.heading {
				@include heading-mixin();
				font-size: clamp(2rem, 3.5vw, 4rem);
				margin-bottom: 1em;
			}

			@media screen and (min-width: 43em) {
				text-align: center;

				.heading {
					margin: 0 auto 1em auto;
					// background: teal;
				}
			}
		}

		.doctors-img-container {
			display: grid;
			gap: 4em;

			.doc-card {
				min-height: 400px;
				// width: 300px;
				// background: $color;

				.img-wrap {
					height: 400px;
					margin-bottom: 0.8em;

					img {
						height: 100%;
						width: 100%;
						object-fit: cover;
						object-position: top;
					}
				}

				.text-card {
					.wrap {
						display: flex;
						justify-content: space-between;

						.staff-name {
							color: $dark;
						}
					}

					.designation {
						font-size: 0.9rem;
					}

					.view-bio-btn {
						border: none;
						@include btn-mixin();
						display: flex;
						gap: 1em;
						align-items: center;
						cursor: pointer;
						padding: 0.5em;

						span {
							display: inline-block;
						}

						i {
							display: inline-block;

							padding: 0;
							height: 16px;
						}
					}
				}
			}

			@media screen and (min-width: 43em) {
				grid-template-columns: repeat(2, 1fr);
				gap: 1.3em;
			}

			@media screen and (min-width: 62em) {
				grid-template-columns: repeat(4, 1fr);
				width: 100%;
				margin: 0 auto;
			}
		}
	}
}
