.animate-element {
	transition: all 0.7s ease;
	transform: translateY(50%);
	opacity: 0;
	// background: red;
}

.animate {
	animation: animateOnLoad 0.4s ease linear infinite;
	transform: translateY(0);
	opacity: 1;
}

.second-trans-element {
	transition: all 0.8s ease;
	transform: translateX(50%);
	opacity: 0;
}

.animate-from-side {
	animation: animateFromSide 0.4s ease linear infinite;
	transform: translateX(0);
	opacity: 1;
}

// fade-in and animate elements from the bottom
@keyframes animateOnLoad {
	from {
		opacity: 0;
		transform: translateY(50%);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

// fade in and animate elements from side
@keyframes animateFromSide {
	from {
		opacity: 0;
		transform: translateX(50%);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}
