@import './resets';

.patient-info-sheet-modal {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.521);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px); /* For Safari */
	height: 100%;
	width: 100%;
	z-index: 1;
	transform: translateY(100%);
	transition: all 0.8s ease;
	overflow-x: scroll;
	padding-top: 9em;

	.info-container {
		opacity: 0;
		transition: all 1s ease;

		.text-wrap {
			padding-top: 4em;
			position: relative;
			@include width-mixin();
			margin-bottom: 5em;

			.heading {
				@include heading-mixin();
				text-align: center;
				margin: 0 auto 0.8em auto;
				color: $light;
				line-height: 1em;
			}

			.text {
				color: $light;
				max-width: 700px;
				margin: 0 auto;
				margin-bottom: 1.5em;
				text-align: center;
			}

			.btn-wrap {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: 4em;

				.down-btn {
					background: transparent;
					border: 1.5px solid $accent-color;
					padding: 1.3em 0.8em;
					border-radius: 30px;

					i {
						font-size: 2em;
						color: $light;
						animation: bounce 2s infinite;
						display: inline-block;
					}
				}
			}

			@media screen and (min-width: 62em) {
				margin-bottom: 7em;

				.heading {
					max-width: unset;
				}
			}
		}
	}

	.opacity {
		opacity: 1;
	}
}

.display-patInfo-modal {
	transform: translateY(0);
}

@keyframes bounce {
	// 0%,
	// 20%,
	// 50%,
	// 80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-10px);
	}
	60% {
		transform: translateY(20px);
	}
}
