@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

li {
	list-style: none;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
}

a {
	text-decoration: none;
	font-size: 0.9rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-style: normal;
}

// vairables
$dark: #1a2d41;
$light: #fff;
$accent-color: #c87b47;
$different-color: #00ffe0;
$text-color-primary: rgb(43, 43, 43);
$color: #1ee0fb;
$width: 90%;
$shadow: 0px 13px 30px rgba(0, 0, 0, 0.07999999821186066);
$lineheight: 1.7;

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-style: normal;
}

p {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
}

input {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
}

textarea {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
}

button {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
}

@mixin width-mixin() {
	width: $width;
	margin: 0 auto;
}

@mixin btn-mixin() {
	background: $accent-color;
	padding: 1em 2em;
	border-radius: 10px;
	color: $light;
	display: inline-block;
	text-transform: capitalize;
	font-weight: 500;
}

@mixin icon-wrap-mixin() {
	height: 40px;
	width: 40px;
	border: 3px $accent-color dotted;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin heading-mixin() {
	font-size: 1.8rem;
	margin-bottom: 0.4em;
	color: $dark;
	font-weight: 700;
	font-size: 3rem;
	max-width: 500px;
	// line-height: 1.3;
}

@mixin text-mixin() {
	line-height: $lineheight;
	margin-bottom: 1.5em;
	color: $text-color-primary;
}
