@import 'resets';

.section-card {
	min-height: 350px;
	margin-bottom: 5em;
	@media screen and (min-width: 62em) {
		margin-bottom: 4em;
	}

	.container {
		@include width-mixin();
		box-shadow: $shadow;
		border-radius: 2em;
		color: $light;
		background: $dark;

		padding: 2em;
		display: grid;
		gap: 2em;

		.box {
			.icon {
				height: 40px;
				width: 40px;
				background: $accent-color;
				border-radius: 100%;
				margin-bottom: 1em;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.heading {
				margin-bottom: 1em;
			}

			.text {
				line-height: 1.7;
			}
		}

		@media screen and (min-width: 62em) {
			display: flex;
			padding: 4em;
			gap: 3em;
			// background: teal;

			text-align: center;
			width: 80%;

			.box {
				width: 100%;

				.icon {
					margin: 0 auto 1em auto;
				}
			}
		}
	}
}
