@import 'navbar';
@import './landing/hero-section';

@import './landing/services-popup';

@import './custom-swiper-styles';

@import './landing/swiper-styles';

@import './landing/wart-ad-section';

@import 'section-card';
@import 'about-intro-section';
@import 'services-section';
@import 'appointment-section';
@import 'our-doctors-section';
@import './landing/blog-updates-section';
@import 'accordion-section';
@import 'patient-feedback';
// @import '../scss/landing/patient-feedback';
// @import '../scss/landing/indi-flags-section';
@import 'footer';

// page transition and animation styles
@import './page-transition';

// modals
@import 'bio-modal';
@import './patient-info';
@import '../scss/patient-info-styles/section-wrap';
@import '../scss/patient-info-styles/section3';
@import '../scss/patient-info-styles/faq-section';
@import '../scss/patient-info-styles/transfer-notice';
@import '../scss/patient-info-styles/practice-comms-pol';
@import '../scss/landing/feedback-form-modal';
@import '../scss/fixed-phone';
@import '../scss/exit-intent-modal';

@import '../scss/announcement-styles/modal';
// end of modals

// contact page styles
@import '../scss/contact-page-styles/contact-form';
@import '../scss/contact-page-styles/contact-form-area';
// end of contact page styles

// about page styles
@import '../scss/about-page-styles/about-hero';
@import '../scss/about-page-styles/section2';
@import '../scss/about-page-styles/section3';
@import '../scss/about-page-styles/section4';

@import '../scss/terms-page-styles/terms';

@import '../scss//pricing-page-styles/pricing';

// fees and billings styles
@import '../scss/fees-biling/fb-main';
@import '../scss/fees-biling/article';

// appointments page
@import '../scss/appointments-page-styles/app-main';
@import '../scss/appointments-page-styles/article';

// blog styles
@import '../scss/blog-styles/blog-post-page';

// wart page styles
@import '../scss/wart/hero-section';
@import '../scss/wart/gp-section';
@import '../scss/wart/wart-category-section';
@import '../scss/wart/child-adult-section';
@import '../scss/wart/machine-section';
@import '../scss/wart/darma-section';
@import '../scss/wart/cta-section';
